/* Estilos para o componente Scoreboard */
.Scoreboard {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2%;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TeamPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}

.TeamName {
  text-align: center;
  margin-bottom: 1%;
}

.TeamName h2 {
  font-size: 3.5vw;
  cursor: pointer;
}

.Modal {
  text-align: left;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  position: absolute;
  z-index: 1;
  max-width: 90%;
}

.Modal input {
  margin-right: 2%;
}

.ScoreButtons {
  display: flex;
  justify-content: space-around;
}

.ScoreButtons button {
  font-size: 3.5vw;
  cursor: pointer;
  padding: 2.5% 6%; /* Retorna o preenchimento ao tamanho anterior */
}

.TeamScores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%; /* Diminui a margem superior entre os TeamScores */
}

.TeamScore {
  text-align: center;
  flex: 1;
  padding: 1%; /* Diminui o preenchimento dentro dos TeamScores */
}

.TeamScore h2 {
  font-size: 2.5vw;
}

.TeamScore h3 {
  font-size: 8vw;
  margin-top: 1%;
}

@media (max-width: 768px) {
  /* Ajustes para dispositivos móveis */
  .Scoreboard {
    padding: 5px;
  }

  .TeamPanel {
    margin-bottom: 0;
  }

  .TeamName {
    margin-bottom: 0;
  }

  .ScoreButtons {
    flex-direction: row;
    align-items: center;
  }

  .ScoreButtons button {
    font-size: 7vw;
    margin: 3%;
    padding: 1% 10%;
  }

  .TeamScores {
    flex-direction: column;
    padding: 1%;
  }

  .TeamScore {
    width: 100%;
    padding: 1%;
  }

  .TeamScore h2 {
    font-size: 3.5vw;
  }

  .TeamScore h3 {
    font-size: 10vw;
    margin-top: 1%;
  }
}
